<!-- Front Main Page -->
<!-- <div class="app-logIn">
        <div class="app-loginWrap" style="background-image:url(../../../../assets/mainBg.jpg)">
            <div class="app-loginContentName">
                <div>
                    <h1>
                        <span>Fit</span><span class="colorCheck">Check</span>
                    </h1>
                </div>
                <div class="app-loginContentData">
                    <h3>By Mantasha Khan
                    </h3>
                    <button>
                        Create User
                    </button>
                </div>
            </div>
        </div>
</div>
<div class="app-loginOverlay"></div> -->
<!-- Front Main Page -->

<!-- Login Page -->
<!-- Header -->
<div class="headWrap">
    <div class="container">
        <div class="headLogoWrap">
            <h1>
                <span class="colorWhite">Fit</span><span class="colorCheck">Check</span>
            </h1>
        </div>
    </div>
</div>
<!-- Header -->
<!-- Login Page -->
<!-- <div>
    <div class="loginBody">
        <img src="../../../../assets/mainBg2.jpg" alt="MainBg">
        <div class="loginForm">
            <div>
                <h3>
                    Hello! To start, what can we call you?
                </h3>
                <label for="UserName">Username</label>
                <br>
                <input type="UserName" placeholder="Username">
                <br>
                <br>
                <label for="Password">Password</label>
                <br>
                <input type="Password" name="Pwd" id="Pwd">
                <br>
                <br>
            </div>
            <div class="loginButton">
                <button>Continue</button>
            </div>


        </div>
    </div>
</div> -->
<!-- Login Page -->

<!-- Home Page -->
<div class="BannerImgWrap">
    <img src="../../../../assets/BannerImg.jpeg" alt="BannerImg">
    <div class="BannerImgContent">
        <span>
            Its time to...
        </span>
        <button>
            Add today's fitcheck
        </button>
    </div>
</div>
<div class="container">
    <div class="OutfitHead">
        <h1>My Outfits</h1>
    </div>
    <div class="OutfitGrid">
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_1.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_2.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_3.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_4.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_5.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_6.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_7.jpeg" alt="">
        </div>
        <div class="OutfitBox">
            <img src="../../../../assets/Ootd_8.jpeg" alt="">
        </div>

    </div>
</div>
<!-- Home Page -->